.evergreen-active {
    background-color: #4caf50 !important;
    color: #fff !important;
}

.evergreen-indicator {
    display: inline-block;
    padding: 2px 6px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 3px;
}
